<!-- Incluir codigo en página principal (layout.html)-->
{% extends "/admin/layout.html" %}

<!-- Inicio de bloque title-->
{% block title %}
<title>Tabla Casos Actualizar</title>

<!-- Cierre de bloque title-->
{% endblock %}

<!-- Inicio de bloque header-->
{% block header %}
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <form method="POST" action="{{ url_for('casosactualizar') }}" novalidate>
                {{ cmb_casos.hidden_tag() }}
                <!--combo formulario clase caso-->
                {{ cmb_casos.caso }}
<!--                {% for error in cmb_casos.caso.errors %}-->
<!--                    <span style="color: red;">{{ error }}</span>-->
<!--                {% endfor %}-->
                <!--boton formulario clase caso-->
                <sapan style="float: right">
                    {{ cmb_casos.submit() }}
                </sapan>
                <div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if message == '¡ Selecciona un caso !'%}
                                    <div>
                                        <span style="color: red;" aria-hidden="true"><h4>{{message}}</h4></span>
                                    </div>
                                {%endif%}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
    <a href="/administracion/casos" class="logo">
        <span class="symbol"><img src="/static/images/regresar.png" alt="" />
        </span><span class="title" >Regresar</span>
    </a>

<!-- Cierre de bloque header-->
{% endblock %}

<!-- Inicio de bloque main-->
{% block main %}
<!-- Main -->
<section>
    <h3>Actualizar registro</h3>
    {% if datos %}
        <div class="table-wrapper">
            <form method="POST" novalidate>
                <table>
                    <tbody>
                        <tr>
                            {{ datos.hidden_tag() }}
                            {{ datos.año.label }}
                            {{ datos.año(size=4) }}<br>
                            {% for error in datos.año.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            {{ datos.tribunal.label }}
                            {{ datos.tribunal(size=30) }}<br>
                            {% for error in datos.tribunal.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            {{ datos.nombre.label }}
                            {{ datos.nombre(size=300) }}<br>
                            {% for error in datos.nombre.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            {{ datos.hechos.label }}
                            {{ datos.hechos(rows="8") }}
                            {% for error in datos.hechos.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            <br>
                            <ul class="actions">
                                 <li><button class="small btn-default primary icon solid fa-pen">Actualizar</button></li>
                            </ul>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    {% endif %}
</section>

<!-- Cierre de bloque main-->
{% endblock %}

