<!-- Incluir codigo en página principal (layout.html)-->
{% extends "layoutgestor.html" %}

<!-- Inicio de bloque title-->
{% block title %}
    <title>Administrador</title>
<!-- Cierre de bloque title-->
{% endblock %}

<!-- Inicio de bloque header-->
{% block header %}
<!-- Nav -->
    <nav>
        <ul>
            <li><a href="#menu">Inicio de seción</a></li>
        </ul>
    </nav>
<!-- Cierre de bloque header-->
{% endblock %}

<!-- Inicio de bloque main-->
{% block main %}
<div id="main">
    <div class="inner">
        <section>
            <h2>Iniciar sesión</h2>
            <form name="login" method="post" >
                {{ datos.hidden_tag() }}
                <div class="fields">
                    <div class="field half">
<!--                        {{ datos.usuario.label }}-->
                        {{ datos.usuario(size=25) }}<br>
                        {% for error in datos.usuario.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
<!--                     <input type="text" name="usuario" id="usuario" placeholder="Usuario" />-->
                    </div>
                    <div class="field half">
<!--                        {{ datos.contraseña.label }}-->
                        {{ datos.contraseña(size=25) }}<br>
                        {% for error in datos.contraseña.errors %}
                         <span style="color: red;">{{ error }}</span>
                        {% endfor %}
<!--                        <input type="password" name="contraseña" id="password" placeholder="Contraseña" />-->
                    </div>
                </div>
                <ul class="actions">
                    <li>{{ datos.submit(class_="primary") }}</li>
<!--                <li><input type="submit" name="Acceder" value="Acceder" class="primary" /></li>-->
                </ul>
             </form>
        </section>
    </div>
</div>
<!-- Cierre de bloque main-->
{% endblock %}
