<!-- Incluir codigo en página principal (layout.html)-->
{% extends "layout.html" %}

<!-- Inicio de bloque title-->
{% block title %}
    <title>Casos</title>
<!-- Cierre de bloque title-->
{% endblock %}

<!-- Inicio de bloque main-->
{% block main %}
        <div id="main">
            <div class="inner">
                <section>
                    <div class="table-wrapper">
                        {%if caso %}
                        <h1>Caso</h1>
                        <table>
                            <thead>
						        <tr>
								    <th>Año</th>
							        <th>Tribunal</th>
								    <th>Nombre y clasificación</th>
                                    <th>Hechos y consideraciones</th>
                                    <th>Temas vinculados</th>
                                </tr>
                            </thead>
                        <tbody>
                            {% for valor in caso %}
                                <tr>
                                    <td>{{ valor[1] }}</td>
                                    <td>{{ valor[2] }}</td>
                                    <td>{{ valor[3] }}</td>
                                    <td align="justify">{{ valor[4] }}</td>
                                    <td >
                                        {% for dato in temas_vin %}
                                            {{ dato[0] + ',' }}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                        {%endif%}
                 </div>
            </section>
        </div>
    </div>
<!-- Cierre de bloque main-->
{% endblock %}