<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Incluir codigo dependiendo de la página seleccionada-->
    {% block title %}

    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
</head>
	<body class="is-preload" onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    {% block header %}

                    {% endblock %}
                        <!-- Menu -->
                    <nav id="menu">
                        <h2>Inicio de seción</h2>
                        <ul>
                            <li><a href="/">Salir</a></li>
                        <!--<li><a href="/internacional" onclick="consultainternacional()">Derecho Internacional</a></li>-->
                        </ul>
                    </nav>
                </div>
            </header>
            <div id="main">
                <div class="inner">
                    <!-- Main -->
                    <!-- Incluir codigo dependiendo de la página seleccionada del administrador de contenido-->
                    {% block main %}

                    {% endblock %}
                </div>
            </div>
            <div class="container" style="min-height:100% width:80%">
	            {% with messages = get_flashed_messages() %}
	                {% if messages %}
	                    {% for message in messages %}
		                <div class="alert alert-warning alert-dismissible" role="alert">
    		                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    			            {{message}}
	    	            </div>
		                {% endfor %}
	                {% endif %}
	            {% endwith %}
            </div>
             <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <ul class="copyright">
                            <li>&copy; 2020 Manuel Castillo</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            <li>Contador: <img src="http://simplehitcounter.com/hit.php?uid=16782878&f=0&b=16777215" border="0" height="18" width="83" alt="web counter"></li>
                        </ul>
                    </section>
                </div>
            </footer>
        </div>
		<!-- Scripts -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/breakpoints.min.js"></script>
        <script src="static/js/util.js"></script>
        <script src="static/js/main.js"></script>
<!--        <script type="text/javascript">-->
<!--            window.history.forward();-->
<!--            function noBack()-->
<!--            {-->
<!--                window.history.forward();-->
<!--            }-->
<!--        </script>-->
    </body>
</html>
