<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Incluir codigo dependiendo de la página seleccionada-->
    {% block title %}

    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="static/images/logo.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>

</head>
	<body class="is-preload">
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <form method="POST" action="{{ url_for('casos') }}" novalidate>
                                {{ cmb_casos.hidden_tag() }}
                                <!--combo formulario clase caso-->
                                {{ cmb_casos.caso }}
                                {% for error in cmb_casos.caso.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <!--boton formulario clase caso-->
                                {{ cmb_casos.submit() }}
                                <div>
	                                {% with messages = get_flashed_messages() %}
	                                    {% if messages %}
	                                        {% for message in messages %}
                                                {% if message == '¡ Selecciona un caso !'%}
                                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                                        <span style="color: red;" aria-hidden="true"><h4>{{message}}</h4></span>
                                                    </div>
                                                {%endif%}
		                                    {% endfor %}
	                                    {% endif %}
	                                {% endwith %}
                                </div>
                            </form>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <form method="POST" action="{{ url_for('temas') }}">
                                {{ cmb_temas.hidden_tag() }}
                                <!--combo formulario clase caso-->
                                {{ cmb_temas.tema }}
                                {% for error in cmb_temas.tema.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                <!--boton formulario clase tema-->
                                {{ cmb_temas.submit() }}
                                <div>
	                                {% with messages = get_flashed_messages() %}
	                                    {% if messages %}
	                                        {% for message in messages %}
                                                {% if message == '¡ Selecciona un tema !'%}
		                                            <div class="alert alert-warning alert-dismissible" role="alert">
                                                        <span style="color: red;" aria-hidden="true"><h4>{{message}}</h4></span>
	    	                                        </div>
                                                {%endif%}
		                                    {% endfor %}
	                                    {% endif %}
	                                {% endwith %}
                                </div>
                            </form>
                        </div>
                     </div>
                    <!-- Logo -->
                    <a href="/sobremi" class="logo">
                        <span class="symbol"><img src="static/images/logo.png" alt="" /></span><span class="title">Tonatiuh García Castillo</span>
                    </a>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>

                </div>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="/">Presentación</a></li>
                    <li><a href="/internacional" onclick="consultainternacional()">Derecho Internacional</a></li>
                    <li><a href="/teoria" onclick="consultateoria()">Teoría del Derecho</a></li>
                    <li><a href="/comparado" onclick="consultarcomparado()">Derecho Comparado</a></li>
                </ul>
            </nav>
            <!-- Main -->

            <!-- Incluir codigo dependiendo de la página seleccionada-->
            {% block main %}

            {% endblock %}

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <ul class="copyright">
                        <li>&copy; 2020 Manuel Castillo</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        <li>Contador: <img src="http://simplehitcounter.com/hit.php?uid=16782878&f=0&b=16777215" border="0" height="18" width="83" alt="web counter"></li>
                    </ul>
                </div>
            </footer>

        </div>
		<!-- Scripts -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/breakpoints.min.js"></script>
        <script src="static/js/util.js"></script>
        <script src="static/js/main.js"></script>
	</body>
</html>
