<!-- Incluir codigo en página principal (layout.html)-->
{% extends "layout.html" %}

<!-- Inicio de bloque title-->
{% block title %}
    <title>Presentación</title>
<!-- Cierre de bloque title-->
{% endblock %}

<!-- Inicio de bloque main-->
{% block main %}
    <div id="main">
        <div class="inner">
            <header>
                <h1>Casos y materiales en derecho internacional</h1>
<!--                <p align="justify">
                    El estudio del derecho internacional implica referencia obligada a la lectura de laudos y sentencias. La mejor forma de comprender un caso es leerlo; sin embargo, el análisis no es fácil para quien comienza en la materia.
                    Este trabajo tiene como fin proporcionar a los alumnos una rápida referencia a las decisiones más importantes de los diferentes tribunales en los tópicos más comunes del derecho internacional; se enfoca en las partes más importantes de las sentencias de manera que una lectura posterior del caso sea más fácil.
                    Los comentarios personales aparecen en brackets y se hacen referencias cruzadas para facilitar la vinculación con otros casos. Partes relevantes aparecen subrayadas.
                    Se pretende que el lector derive sus propias conclusiones y por ello los párrafos se presentan de manera literal en el idioma original. Si el caso se organiza por páginas o párrafos numerados, éstos aparecen en paréntesis de forma que puedan ser fácilmente citados.
                    El material es un documento de trabajo vivo que sufre modificaciones y correcciones de manea continua.
                </p>-->
                <span class="image left">
				    <img src="static/images/corte.jpg" alt="" />
			    </span>
                <p align="justify">
                    El estudio del derecho internacional implica referencia obligada a la lectura de laudos y sentencias. La mejor forma de comprender un caso es leerlo; sin embargo, el análisis no es fácil para quien comienza en la materia.
                </p>
                <p align="justify">
                    Este trabajo tiene como fin proporcionar a los alumnos una rápida referencia a las decisiones más importantes de los diferentes tribunales en los tópicos más comunes del derecho internacional; se enfoca en las partes más importantes de las sentencias de manera que una lectura posterior del caso sea más fácil.
                </p>
                <p align="justify">
                    Los comentarios personales aparecen en brackets y se hacen referencias cruzadas para facilitar la vinculación con otros casos. Partes relevantes aparecen subrayadas.
                </p>
                <p align="justify">
                    Se pretende que el lector derive sus propias conclusiones y por ello los párrafos se presentan de manera literal en el idioma original. Si el caso se organiza por páginas o párrafos numerados, éstos aparecen en paréntesis de forma que puedan ser fácilmente citados.
                </p>
                <p align="justify">
                    El material es un documento de trabajo vivo que sufre modificaciones y correcciones de manea continua.
                </p>
            </header>
        </div>
    </div>

<!-- Cierre de bloque main-->
{% endblock %}