<!-- Incluir codigo en página principal (layout.html)-->
{% extends "layout.html" %}

<!-- Inicio de bloque title-->
{% block title %}
    <title>Sobre mí</title>
<!-- Cierre de bloque title-->
{% endblock %}
<!-- Inicio de bloque main-->
{% block main %}
<!-- Image -->
<div id="main">
	<div class="inner">
		<section>
			<span class="image left">
				<img src="static/images/img.png" alt="" />
			</span>
			<p align="justify">
			<!--Es doctor en derecho por el Instituto de Investigaciones Jurídicas de la UNAM (2006), único mexicano que ha obtenido el diploma de la Academia de Derecho Internacional de la Haya (2001), maestro en leyes por el Queens’ College de la Universidad de Cambridge (2001), maestro en economía por el Colegio de México (1995), abogado por la Facultad de Derecho de la UNAM (1993) y economista por la UAM Xochimilco (1991).
			Sus temas de interés son derecho internacional (tanto público como privado), inversión extranjera, contratos internacionales, derecho de la competencia económica, derecho y economía, comercio internacional, derecho penal internacional, ciudadanía y migración, crimen organizado y las transformaciones del derecho constitucional en el mundo global.
			Ha sido miembro del comité tutorial del doctorado en derecho del Instituto de Investigaciones Jurídicas de la UNAM y de la Universidad Regional del Sureste (Oaxaca), sinodal del CENEVAL, y ha impartido las siguientes materias: derecho internacional (Facultad de derecho, UNAM y CIDE), teoría del derecho (Facultad de Derecho, UNAM), derecho penal internacional (Universidad de las Américas), macroeconomía intertemporal (Colmex), teoría general del estado y derecho constitucional (UNAM) y economía internacional (UAM). Es autor de diversos artículos y libros.-->

			Tonatiuh García Castillo es doctor en derecho por el Instituto de Investigaciones Jurídicas de la UNAM (2006), único mexicano que ha obtenido el diploma de la Academia de Derecho Internacional de la Haya (2001), maestro en leyes por el Queens’ College de la Universidad de Cambridge (2001), maestro en economía por el Colegio de México (1995), abogado por la Facultad de Derecho de la UNAM (1993) y economista por la UAM Xochimilco (1991).

			Sus temas de interés son derecho internacional (tanto público como privado), inversión extranjera, contratos internacionales, derecho de la competencia económica, derecho y economía, comercio internacional, derecho penal internacional, ciudadanía y migración, crimen organizado y las transformaciones del derecho constitucional en el mundo global.

			Ha sido miembro del comité tutorial del doctorado en derecho del Instituto de Investigaciones Jurídicas de la UNAM y de la Universidad Regional del Sureste (Oaxaca), sinodal del CENEVAL, y ha impartido las siguientes materias: derecho internacional (Facultad de derecho, UNAM y CIDE), Teoría General del Estado, Derecho Constitucional,  Teoría del Derecho y Derecho comparado (Facultad de Derecho, UNAM), derecho penal internacional (Universidad de las Américas), macroeconomía intertemporal (Colmex), y economía internacional (UAM). Es autor de diversos artículos y libros.
			</p>
		</section>
	</div>
</div>

<!-- Cierre de bloque -->
{% endblock %}
