<!-- Incluir codigo en página principal (layout.html)-->
{% extends "layout.html" %}

<!-- Inicio de bloque title-->
{% block title %}
    <title>Teoría del Derecho</title>
<!-- Cierre de bloque title-->
{% endblock %}

<!-- Inicio de bloque main-->
{% block main %}
   <div id="main">
        <div class="inner">
            <section>
                 <div class="table-wrapper">
                     <h1>Teoría del Derecho</h1>
                     <table>
                        <tbody>
                            {% for valor in data %}
                            <tr>
                                <td>{{ valor[0].capitalize() }}</td>
                                <td><a href="static/teoria/{{valor[0]+'.pdf'}}" name="{{valor[0]}}" class="button small right primary icon solid fa-download">Descargar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                 </div>
            </section>
        </div>
    </div>
<!-- Cierre de bloque -->
{% endblock %}

